{% extends "base.html.twig" %}

{% block content %}
    <div>
        <h1 class="display-5">Bienvenue sur l'application F & BC - RENTAB</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus faucibus at ex vel condimentum. Proin ligula augue, euismod eu faucibus at, luctus quis lectus. Sed fermentum ex sed lobortis facilisis. Praesent ac consequat velit. Maecenas malesuada urna eget nibh convallis, vel hendrerit urna rutrum. Vivamus at mattis sapien, et consequat mi. Pellentesque sed urna vitae dui rhoncus maximus eget at mi. Nullam volutpat vulputate mauris hendrerit fermentum. Aenean iaculis molestie lectus nec ultrices. Cras finibus non orci at bibendum. Praesent ut tellus sed felis hendrerit eleifend eu id dui. Mauris varius eros sit amet tempus gravida. Donec molestie elit et suscipit faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
        <p>
            Phasellus eget rhoncus massa. Pellentesque dapibus, diam ac convallis imperdiet, diam turpis hendrerit augue, et commodo felis purus vel ligula. Vestibulum a urna eros. Nunc dolor risus, auctor quis iaculis eu, maximus nec turpis. Duis in dignissim turpis. Nulla sodales nunc dapibus, convallis tortor eget, aliquet ipsum. Sed iaculis ac quam a tincidunt. Morbi rutrum eros sit amet ante tempus, sed tristique dolor congue. Etiam lacinia dolor eget risus euismod mollis. Curabitur ac libero non libero ornare facilisis nec et mi. Ut quis vehicula neque.
        </p>
        <p>
            Aenean et mattis arcu. Nullam diam nisl, tempor eget hendrerit in, dapibus eget orci. Vivamus vitae sem vitae quam venenatis placerat vitae facilisis nibh. Fusce elementum ultricies est sed imperdiet. Ut venenatis dolor ut sollicitudin porttitor. Praesent gravida quam aliquet nisl varius dignissim. Donec a leo auctor, ultricies enim id, cursus nisi. Aliquam accumsan lacus enim, nec condimentum odio suscipit ac. Nam finibus ac metus at mollis. Praesent et odio nisi.
        </p>
        <p>
            Vestibulum rhoncus scelerisque mollis. Nulla consectetur mi enim, ac semper sapien interdum quis. Fusce lacus ex, ornare sed semper eget, lobortis sed purus. Suspendisse porta blandit eleifend. Pellentesque in diam a velit bibendum cursus. Donec porttitor tincidunt cursus. Proin maximus facilisis ornare. Etiam molestie, nisl ut pharetra lobortis, purus nulla rhoncus neque, a posuere mauris ex non turpis. Donec semper erat in nulla accumsan tincidunt. Aliquam feugiat euismod dolor, ac lacinia tortor fringilla in. Duis cursus orci et tincidunt vehicula. Aliquam erat volutpat. Phasellus eget pulvinar risus. Proin euismod nibh enim, a imperdiet purus dictum vel. Nulla tincidunt id dolor ut condimentum.
        </p>
        <p>
            Nunc interdum est eu risus sodales, vitae efficitur tellus molestie. Maecenas tincidunt vel massa in pulvinar. In a orci efficitur, laoreet risus quis, pharetra mauris. Donec odio odio, vestibulum quis ex nec, aliquet maximus justo. Phasellus luctus ligula nec tempor venenatis. Donec ac interdum lacus, at egestas arcu. Aenean a lectus ut est lacinia sollicitudin non sit amet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc eleifend elit nibh, eget venenatis elit vulputate sit amet. Sed a tincidunt magna. Praesent a lorem vel elit tincidunt vestibulum. Praesent nec metus in dolor posuere suscipit.
        </p>
        <h2>
            Developper par : Alpha Marouana Diallo, JHIDRI Achraf, ZITOUN Brahim, Chamekh Mohammed
        </h2>
    </div>

{% endblock %}