{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} |
    Gammes
{% endblock %}
{% block content %}
    <div>

        <table>
            <tr>
                <th>name</th>
            </tr>
            {% for gamme in gammes %}
                <tr>
                    <td>
                        <a href="{{ path("show_one_gamme",{'id': gamme.id }) }}">
                            {{ gamme.name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}

        </table>
        <br>
        <br>
        <br>
        <a href="{{ path("create_gamme") }}">
            créer une gamme

        </a>
    </div>
{% endblock %}