{% extends 'base.html.twig' %}

{% block content %}
    <div>
        <h4>Prix maximum de rentabilité</h4>
    </div>

 {% for gamme in gammes %}
        <h5>
            Gamme "{{ gamme.name }}"
        </h5>
  {% for fourniture in gamme.fournitures %}
            {% if fourniture.isPriceUpdatable %}
                <table class="table">
                    <thead>
                        <tr>
                            <th  scope="col">Nom du produit</th>
                            <th  scope="col">Prix maximum d'achat ( {{ fourniture.name }} )</th>
                            <th  scope="col">devise</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for fp in fourniture.fournitureProduit.getValues() %}
                        <tr>
                            <td      scope="row">{{  fp.product.name}}</td>
                            {% set prixRentable =  fp.product.sellPrice %}
                            {% set quantiteFourniture = 1 %}
                            {% for pf in  fp.product.produitFournitures.getValues() %}
                                {% set fourntireTotal = 0 %}
                                {% if  pf.fourniture.id != fourniture.id %}
                                  {% set fourntireTotal  = pf.fourniture.buyPrice*pf.quantite %}
                                {% else %}
                                    {% set fourntireTotal  =  0 %}
                                    {% set quantiteFourniture = pf.quantite %}
                                {% endif %}
                                {% set prixRentable = prixRentable -  fourntireTotal %}
                            {% endfor %}
                            <td scope="row">{{ prixRentable / quantiteFourniture }} </td>
                            <td scope="row">    €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% endfor %}
 {% endfor %}
{% endblock %}