{% extends 'base.html.twig' %}

{% block title %}
    new product
{% endblock %}

{% block content %}

    <F>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
        <div>
            {{ form_widget(form.sellPrice) }}
        </div>
        <div>
            {{ form_widget(form.gamme) }}
        </div>
        <div class="container-produitFournitures">
            <div>
                {{form_widget(form.produitFournitures)}}
            </div>
            <input type="number" placeholder="quantité">
            <button type="button" id="add-quantite">ajouter</button>
        </div>
    {{ form_end(form) }}

{% endblock %}