{% extends 'base.html.twig' %}

{% block title %}
    Fournitures !
{% endblock %}

{% block content %}

        {% for fourniture in fournitures %}
            <h2>{{ fourniture.name }}   {{ fourniture.buyPrice }}</h2>

        {% else %}
            <h1>0 fournitures </h1>
        {% endfor %}


{% endblock %}